body{
    background-color: black;
    height: 100vh;
}


h1{
    text-align: center;
    color: aquamarine;
    font-family:cursive;
    font-size: 100px;
}
.para{
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
    justify-content: center;
}
.p1,.p2{
    color: aquamarine;
    font-family:cursive ;
    
}
.dice{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.content{
    color: white;
    font-family: cursive;
    text-align: center;
    margin-top: 50px;
}
