nav img{
    width: 8%;
    height: auto;
    border-radius:50% ;
   
}
nav{
    position: sticky;
    margin-bottom: 2rem;
}
nav div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    grid-template-rows: auto;
    gap: 20px;
    
}
nav div p{
    font-weight: bold;
    font-size: 20px;

}
nav button{
    margin: 10px;
}
